body{
  background-color:black;
  color:white;
  background-image: url('https://raw.githubusercontent.com/benbdeitch/react-project/main/src/static/images/ed-robertson-eeSdJfLfx1A-unsplash.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

.Flexbox {
  display:flex;
  
}
.mainSection{
  min-height:80%;
 
  top: 0px;
  width:100%;
  max-height: fit-content;
  padding-bottom:14rem;
}
#navbar{
  display:flex; 
  

}

.smallBox {
  height: min-content;
}
.Box {
  background-color:black;
  color:white; 
  border-radius:25px; 
  border-style:solid;
  border-color:blue; 
  text-align: center; 
  margin:1rem; 
  width:fit-content;
  padding:1rem; 
}

#Footer{
  background-color:black;
  font-size:0.5rem;
  bottom:0px;
  padding:1rem;
  max-height:20%;
  border-top:2px solid white;
  position:fixed;
    bottom:0%;
    width:100%;
    margin-top:4rem;

}