body{
  background-color:black;
  color:white;
  background-image: url('https://raw.githubusercontent.com/benbdeitch/react-project/main/src/static/images/ed-robertson-eeSdJfLfx1A-unsplash.jpg');
  background-size: cover;
  background-repeat:no-repeat
}

#navbar{
  display:flex; 
  

}

.Box {
  background-color:black;
  color:white; 
  border-radius:25px; 
  border-style:solid;
  border-color:blue; 
  text-align: center; 
  margin:1rem; 
  width:fit-content;
  padding:1rem; 
}

#Footer{
  background-color:black;
  font-size:0.5rem;
  bottom:0px;
  padding:1rem;
  border-top:2px solid white;

}